<h1><%= @test.title %> - Questions</h1>

<p><%= link_to 'New question', new_test_question_path %></p>

<% if @test.questions.any? %>
  <table>
    <tr>
      <th>Question</th>
      <th colspan="3">Actions</th>
    </tr>

    <%= render @questions %>
  </table>
<% else %>
  <strong>The test has no questions</strong>
<% end %>

<p><%= link_to 'Back', test_path(@test) %></p>
