<h1>Create New Question</h1>
<form action="/tests/<%= params[:test_id] %>/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <label for="question-text">Enter the question: </label>
    <input type="text" name="question[text]" id="question-text">
  </p><br>
  <button type="submit">Create</button>
</form>
