<footer>
  <h5>
    <p>© <%= current_year %> «TestGuru.com» - Creating and passing tests</p>
    <p>Author: <%= github_url 'SergeyGildenshtern', 'TestGuru' %></p>
    <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/' %></p>
  </h5>
</footer>
