<h1>The <%= @result.test.title %> Test was Completed!</h1>

<% if @result.successfully? %>
  <p>
    <span style="color: green"><%= @result.percentage_correct_answers %>%</span> correct answers.
    You have successfully passed the test!
  </p>
<% else %>
  <p>
    <span style="color: red"><%= @result.percentage_correct_answers %>%</span> correct answers.
    You failed the test!
  </p>
<% end %>

<%= link_to 'All Tests', tests_path %>
